* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
   */
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

body {
  margin: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  font-weight: 500;
}
